{% extends "base_generic.html" %}

{% block content %}
    <h2>Страница с категориями заявок.</h2>
    <br>
    {% if categories_list %}
        <h2>Все категории:</h2>
        {% for category in categories_list %}
            <p>Название категории: {{ category.title }}</p>
            <p>Описание категории: {{ category.description }}</p>
            <a href="{% url 'category_delete' pk=category.id %}">Удалить категорию</a>
        {% endfor %}
    {% else %}
        <p>В данный момент на сайте нет категорий.</p>
    {% endif %}
{% endblock %}