{% extends "base_generic.html" %}

{% block content %}
    <h2>Главная страница «Design.pro»</h2>

    {% if application_list %}
        <div>
            <p>Количество заявок, находящихся в статусе «Принято в работу»: {{ applications_count }}</p>
        </div>
        <h2>Последние 4 заявки в статусе «Выполнено»:</h2>
        <div>
            {% for application in application_list %}
                <p>Временная метка: {{ application.date }}</p>
                <p>Название: {{ application.title }}</p>
                <p>Описание: {{ application.description }}</p>
                <p>Категория: {{ application.category }}</p>
                <p>Фото: <img src="{{ application.image.url }}"></p>
            {% endfor %}
        </div>
        {% else %}
        <p>Нет заявок в статусе «Выполнено»</p>
    {% endif %}
{% endblock %}